 <div class="header bg-primary pb-6">
      <div class="container-fluid">
        <div class="header-body">
          <div class="row align-items-center py-4">
            <div class="col-lg-6 col-7">
              <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                  <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                  <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Products</li>
                </ol>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>

     <!-- Page content -->
    <div class="container-fluid mt--6">
        <div class="col-xl-12">
          <div class="card">
            <div class="card-header border-0">
              <div class="row align-items-center">
                <div class="col">
                  <h3 class="mb-0">Products</h3>
                </div>
                <div class="col text-right">
                  <a href="/admin/products/create" class="btn btn-sm btn-primary">Add Product</a>
                </div>
              </div>
            </div>
            
            <div class="table-responsive">
              <!-- Projects table -->
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Category</th>
                    <th scope="col">Brand</th>
                    <th scope="col">Specs</th>
                    <th scope="col">Price</th>
                    <th scope="col">Status</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Remove</th>
                  </tr>
                </thead>
                <tbody>
                 {{#each products}}
                            <tr>
                              <td>{{_id}}</td>
                              <td>{{name}}</td>
                              <td>{{category.name}}</td>
                              <td>{{brand.name}}</td>
                              <td>{{specs}}</td>
                              <td>{{price}}</td>
                              <td>
                                  {{#if status}}
                                       Active
                                  {{else}}
                                      In-Active
                                  {{/if}}
                              </td>
                              <td>
                                 <a href="/admin/products/edit/{{_id}}" class="btn"><i class="fas fa-edit text-success"></i></a>
                              </td>
                              <td>
                         <form action="/admin/products/{{_id}}?_method=DELETE" method="POST">
                              <button type="submit" class="btn" value="Delete"><i class="fas fa-trash text-danger"></i></button>
                         </form>
                      </td>
                            </tr>
                        {{/each}}
 
                </tbody>
              </table>
            </div>
          </div>
        </div>

    

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    