 {{>home/main-menu}}
 
 
  <!-- Page Content -->
  <div class="container">

    <div class="row">

      <div class="col-lg-3">

        <h6 class="my-4 text-center">CATEGORIES</h6>
        <div class="list-group">
           {{#each categories}}
               <a href="/category/{{_id}}" style="text-decoration:none; font-weight:500" class="list-group-item bg-dark text-light">{{name}}</a>      
           {{/each}}
        </div>

      </div>
      <!-- /.col-lg-3 -->

      <div class="col-lg-9">

        <div class="card mt-4">
          {{!-- <img class="card-img-top img-fluid" src="http://placehold.it/900x400" alt=""> --}}
          <div id="productSlider" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                            {{#each product.images}}
                                
                                        <div class="carousel-item {{#if @first}}active{{/if}} ">
                                            <img class="d-block w-100" src="/upload/products/{{name}}">
                                        </div>
                                
                                       
                            
                            {{/each}}
            
            </div>
            <a class="carousel-control-prev" href="#productSlider" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#productSlider" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
          <div class="card-body">
            <h3 class="card-title">{{product.name}}</h3>
            <h4>RS {{product.price}} /-</h4> 
            <p class="card-text"><strong>Brand: </strong>{{product.brand.name}}</p>
            <p class="card-text"><strong>Category: </strong>{{product.category.name}}</p>   
            
            <h4>Specs:</h4>
            <p class="card-text">{{product.specs}}</p>
            <p>
                      {{#if product.status}}
                        In-Stock
                        {{else}}
                        Out-Of-Stock
                        {{/if}}
            </p>
            <span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span>
            4.0 stars
          </div>
        </div>
        <!-- /.card -->

        <div class="card card-outline-secondary my-4">
          <div class="card-header">
            Product Reviews
          </div>
          <div class="card-body">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
            <small class="text-muted">Posted by Anonymous on 3/1/17</small>
            <hr>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
            <small class="text-muted">Posted by Anonymous on 3/1/17</small>
            <hr>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
            <small class="text-muted">Posted by Anonymous on 3/1/17</small>
            <hr>
            <a href="#" class="btn btn-success">Leave a Review</a>
          </div>
        </div>
        <!-- /.card -->

      </div>
      <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  {{>home/footer}}